.OrderSpecials .product-item {
    padding: 1em 1em;
}

.OrderSpecials .col-sm-3 {
    max-width: 15em;
}

.OrderSpecials .item-image{
    margin: 0px auto;
    vertical-align: middle;
    max-height: 8em;
    border-radius: 1em;
}

.orderFooter button{
    max-width: 25em;
}