@import "../bootstrap/bootstrap/_variables.scss";

$rt-namespace: 'Toastify';
$rt-toast-width: 320px !default;
$rt-toast-width-widescreen: 480px !default;
$rt-toast-background: #fff !default;
$rt-toast-min-height: 64px !default;
$rt-toast-max-height: 800px !default;

$rt-color-default: #fff !default;
$rt-color-dark: #121212 !default;
$rt-color-info: darken($brand-info, 5%) !default;
$rt-color-success: darken($brand-success, 5%) !default;
$rt-color-warning: darken($brand-warning, 5%) !default;
$rt-color-error: darken($brand-danger, 5%) !default;

$rt-text-color-default: #aaa !default;
$rt-text-color-dark: #fff !default;

$rt-color-progress-default: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55) !default;
$rt-color-progress-dark: #bb86fc !default;
$rt-mobile: "only screen and (max-width : 480px)" !default;
$rt-not-mobile: "only screen and (min-width : 481px)" !default;
$rt-font-family: $body-font !default;
$rt-z-index: 9999 !default;

