@import '../../../stylesheets/bootstrap/bootstrap/variables';

.order-details-products{
    .panel-default {
        border: 0px none;
        border-bottom: 0px solid;
        border-color: $gray-lighter;
    }
    .panel{
        border-radius: 0px;
    }
}