@import '../../../../ui/stylesheets/bootstrap/bootstrap/variables';

.heading-text{
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    white-space: nowrap;
    display: flex;
    justify-content: center;

    h7, .h7{
        color: #fff;
        position: absolute;
        padding-bottom: 5px;
        padding-right: 5px;
    }
}

.heading-highlight{
    color: $brand-success;
    fill: currentcolor;
    margin-left: 1rem;
    margin-top: 0.5rem;
    max-width: 22em;
}