@import '../../stylesheets/bootstrap/bootstrap/variables';

.special-heart{
    -webkit-font-smoothing: antialiased;
    -webkit-transform: rotateZ(15deg);
    -moz-transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -o-transform: rotateZ(15deg);
    transform: rotateZ(15deg);
    top:-4px !important;
    left:-4px !important;
    color: $brand-warning;
}

.alertMenu{
    color: $brand-danger;
}

.highlightMenu{
    color: $brand-primary;
}

.wide-menu-bar {
    margin-left: 2em !important;
}

.wide-menu-bar > li > a {
    margin: 1em 0.5em;
}
