@import '../../../stylesheets/bootstrap/variables';

.refund-row {
    padding: $table-cell-padding-y-sm;
    border-top: $table-border-color 1px solid;

    .refund-item {
        padding-top: $table-cell-padding-y-sm;
        color: $gray-500;
    }

    .refund-section {
        margin-top: $table-cell-padding-y-sm;
    }

    .refund-expand {
        color: $gray-300;
    }

}

.refund-heading{
    margin: $table-cell-padding-y-sm 0;
}
