@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(-30px);}
    60% {-webkit-transform: translateY(-15px);}
} 
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
} 

.Loading {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

.Loading{
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 3.5em;
}

.loader {
  height: 3px;
  width: 100%;
  position: relative;
  overflow: hidden;
  //background-color: $success;;
  position: fixed;
  top: 0px;
  left: 0px;
}

.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width:  200%;
  height: 3px;
  background-color:#efefef;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 100%;}
    50% {width: 100%;}
    70% {width: 100%;}
    80% { left: 100%;}
    95% {left: 100%;}
    to {left: 100%;}
}