
.carousel-farm{
  * { box-sizing: border-box; }

  .flickity-viewport{
    height: 27em;
  }
  
  .carousel {
    background: #fff;
  }

  .carousel-cell {
    margin:0 0em 0 3em;
  }

  .carousel img {
    display: block;
    width: 27em;
    border-radius: 15px;
    border: 5px solid #fff;
  }

  .flickity-page-dots{
    bottom:0.2em;
  }
}
