.publishSection{
    height: 15.6em;
    padding-left: 2em;
    padding-bottom: 16em;
}
.product-list .panel-body{
    padding:0px;
}

.product-list .panel, .product-list .form-group{
    padding-bottom:0px;
    margin-bottom:0px;
}

.product-list .panel-default{
    border:none 0px;
}