@import '../../stylesheets/bootstrap/bootstrap/variables';

.AccountPageFooter {
  margin: 25px 0 0;
  border-top: 1px solid $gray-lighter;
}

.login-singup {
  color:$brand-primary;
  font-size:$font-size-h4;
}
