.order-details-products .panel-default {
    border: 0px none;
    border-bottom: 1px solid;
    border-color: $gray-lighter;
}

.order-image{
    height:5em;
}

// Product ordering tabs

.nav-pills > li.vegetables_bk > a {
    padding: 10px 4px;
}
.nav-pills > li.groceries_bk > a {
    padding: 10px 10px;
}

.nav > li.vegetables_bk, .nav > li.groceries_bk, .nav > li.batters_bk{
    width:6em;
}

.nav > li.vegetables_bk > a {
    background-image: url('/app/order-tabs.png');
    background-size: 14em;
    background-repeat: no-repeat;
    background-position: 20px 0px;
    padding-top:3em;
}

.nav > li.groceries_bk > a {
    background-image: url('/app/order-tabs.png');
    background-size: 14em;
    background-repeat: no-repeat;
    background-position: -60px 0px;
    padding-top:3em;
}

.nav > li.batters_bk > a {
    background-image: url('/app/order-tabs.png');
    background-size: 14em;
    background-repeat: no-repeat;
    background-position: -150px 0px;
    padding-top:3em;
}

#productTabs > div.tab-content {
    padding-top:1.5em;
}