@import '../../../stylesheets/bootstrap/variables';

.productOrderList{

.order-details-products  {
    border: 0px none;
    border-bottom: 0px solid;
    border-color: $gray-300;
}

.productCategoryHeading::before {
    content:"";
    display:block;
    height:50px; /* fixed header height*/
  }

.order-image{
    height:5em;
}

.form-control{
    font-size: $font-size-lg;
    height: 42px;
}

// Product ordering tabs

/*.nav-pills > li.vegetables_bk > a {
    padding: 10px 4px;
}
.nav-pills > li.groceries_bk > a {
    padding: 10px 10px;
}*/

.nav-pills > li > a {
    border-bottom:3px solid transparent;
    margin-bottom:5px;
}

.nav > li.recommended_bk > a,
.nav > li.specials_bk > a,
.nav > li.vegetables_bk > a,
.nav > li.fruits_bk > a,
.nav > li.grains_bk > a,
.nav > li.dhals_bk > a,
.nav > li.spices_bk > a,
.nav > li.oils_bk > a,
.nav > li.prepared_bk > a,
.nav > li.hyg_bk > a,
.nav > li.snack_bk_ph > a,
.nav > li.batter_bk_ph > a,
.nav > li.flours_bk_ph > a
{
    padding: 0px;
    background-size: 5em;
    background-repeat: no-repeat;
    padding-top: 3.6em;
}
 
.nav > li.recommended_bk,
.nav > li.specials_bk,
.nav > li.vegetables_bk,
.nav > li.fruits_bk,
.nav > li.grains_bk,
.nav > li.dhals_bk,
.nav > li.spices_bk,
.nav > li.oils_bk,
.nav > li.prepared_bk,
.nav > li.hyg_bk,
.nav > li.snack_bk_ph_bk,
.nav > li.batter_bk_ph_bk,
.nav > li.flours_bk_ph_bk {
    width:10em;
}

.nav > li.prepared_bk, .nav > li.vegetables_bk {
    width:10em;
}

.nav > li.vegetables_bk > a {
    background-position: 40px -10px;
}

.nav > li.fruits_bk > a {
    background-position: 40px -10px;
}

.nav > li.dhals_bk > a {
    background-position: 25px -98px;
}

.nav > li.grains_bk > a {
    background-position: 25px -98px;
}

.nav > li.prepared_bk > a {
    background-position: 45px -193px;
}

.nav > li.hyg_bk > a {
    background-position: 23px -302px;
}

.nav > li.spices_bk > a {
    background-position: 25px -98px;
}

.nav > li.oils_bk > a {
    background-position: 25px -98px;
}

.nav > li.specials_bk > a {
    background-position: 25px -512px;
}

.nav > li.recommended_bk >  a {
    background-position: 25px -410px;
}


    .prodCatTitle{
        padding:0px 0px;
        padding-left:0.5em;
    }
    .prodCatPlus{
        padding-left: 0px;
    }

    .productCatHeadIcon{
        background-size: 3.28em;
        background-repeat: no-repeat;
        height: 47px;
    } 

    .productCategoryHeading {
        padding: 1em 0;
        text-align: center;
    }

    .nav > li.vegetables_bk > a {
        background-position: 40px -10px;
    }   

    .nav > li.fruits_bk > a {
        background-position: 40x -10px;
    }

    .nav > li.dhals_bk > a {
        background-position: 25px -98px;
    }

    .nav > li.grains_bk > a {
        background-position: 25px -98px;
    }

    .nav > li.prepared_bk > a {
        background-position: 45px -193px;
    }

    .nav > li.hyg_bk > a {
        background-position: 23px -302px;
    }

    .nav > li.spices_bk > a {
        background-position: 25px -98px;
    }

    .nav > li.oils_bk > a {
        background-position: 25px -98px;
    }

    .nav > li.specials_bk > a {
        background-position: 25px -512px;
    }

    .nav > li.recommended_bk >  a {
        background-position: 25px -410px;
    }

    .productCat_recommended_bk_ph{
        background-position:2px -295px;
    }

    .productCat_specials_bk_ph{
        background-position: -2px -338px;
    }

    .productCat_vegetables_bk_ph{
        background-position: 2px 0px;
    }

    .productCat_dhals_bk_ph{
        background-position: 2px -666px;
    }

    .productCat_prepared_bk_ph{
        background-position: 2px -124px;
    }
    
    .productCat_fruits_bk_ph {
        background-position: 2px -596px;
    }
    
    .productCat_grains_bk_ph {
        background-position:2px -793px;
    }
    
    .productCat_hyg_bk_ph {
        background-position:2px -194px;
    }
    
    .productCat_spices_bk_ph {
        background-position:2px -423px;
    }
    
    .productCat_oils_bk_ph {
        background-position:2px -506px;
    }

    .productCat_swt_bk_ph {
        background-position:2px -729px;
    }

    .productCat_snack_bk_ph {
        background-position:2px -914px;
    }

    .productCat_batter_bk_ph {
        background-position:2px -855px;
    }

    .productCat_flours_bk_ph {
        background-position:2px -62px;
    }

}

.EditOrderDetails  {
    @media (max-width: breakpoint-min('sm')) {
        .orderFooter{
            position: fixed;
            background:$navbar-light-brand-color;
            width: 100%;
            left: 0px;
            bottom: 0px;
            //z-index: $zindex-navbar;
        }
    }
}