@import '../../../stylesheets/bootstrap/bootstrap/variables';

.productOrderList{

.panel-heading{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 20;
    border-bottom: $table-border-color 1px solid !important;
}
.order-details-products .panel-default {
    border: 0px none;
    border-bottom: 1px solid;
    border-color: $gray-lighter;
}

.productCategoryHeading::before {
    content:"";
    display:block;
    height:50px; /* fixed header height*/
  }

.order-image{
    height:5em;
}

.form-control{
    font-size: $font-size-large;
}

// Product ordering tabs

/*.nav-pills > li.vegetables_bk > a {
    padding: 10px 4px;
}
.nav-pills > li.groceries_bk > a {
    padding: 10px 10px;
}*/

.nav-pills > li > a {
    border-bottom:3px solid transparent;
    margin-bottom:5px;
}

.nav > li.vegetables_bk > a, .nav > li.groceries_bk > a, 
.nav > li.prepared_bk > a, .nav > li.pg_bk > a, .nav > li.specials_bk > a, 
.nav > li.recommended_bk > a {
    padding: 0px;
    background-image: url('/app/order-tabs.png');
    background-size: 5em;
    background-repeat: no-repeat;
    padding-top: 3.6em;
}

.nav > li.groceries_bk, 
.nav > li.pg_bk, .nav > li.specials_bk, .nav > li.recommended_bk {
    width:8em;
}

.nav > li.prepared_bk, .nav > li.vegetables_bk {
    width:10em;
}

.nav > li.vegetables_bk > a {
    background-position: 40px -10px;
}

.nav > li.groceries_bk > a {
    background-position: 25px -98px;
}

.nav > li.prepared_bk > a {
    background-position: 45px -193px;
}

.nav > li.pg_bk > a {
    background-position: 23px -302px;
}

.nav > li.specials_bk > a {
    background-position: 25px -512px;
}

.nav > li.recommended_bk >  a {
    background-position: 25px -410px;
}

#productTabs > div.tab-content {
    padding-top:1.5em;
}

    /*.panel-heading{
        background-image: url('/app/order-tabs.png');
        background-size: 4.5em;
        background-repeat: no-repeat;
        padding-top: 2.5em;
    }

    .panel-heading .panel-title{
        position: relative;
        top: -0.8em;
        left: 3.9em;
        max-width:170px;
    }*/

    /* phone */
    .panel-body{
        padding-left: 5px;
        padding-right: 5px;
    }
    .prodCatTitle{
        padding:0px 0px;
        padding-left:0.5em;
    }
    .prodCatPlus{
        padding-left:0px;
    }

    .productCatHead div{
        background-size: 3.6em;
        background-repeat: no-repeat;
        height: 45px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .productCategoryHeading {
        padding: 1em 0;
        text-align: center;
    }

    .productCat_recommended_bk_ph{
        background-image: url('/app/order-tabs.png');
        background-position:2px -295px;
    }

    .productCat_specials_bk_ph{
        background-image: url('/app/order-tabs.png');
        background-position:2px -370px;
    }

    .productCat_vegetables_bk_ph{
        background-image: url('/app/order-tabs.png');
        background-position:2px 0px;
    }

    .productCat_groceries_bk_ph{
        background-image: url('/app/order-tabs.png');
        background-position:2px -70px;
    }

    .productCat_prepared_bk_ph{
        background-image: url('/app/order-tabs.png');
        background-position:2px -139px;
    }

    .productCat_pg_bk_ph{
        background-image: url('/app/order-tabs.png');
        background-position:2px -220px;
    }
}

.EditOrderDetails  {
    .noMarginNoPadding{
        margin-bottom:0px;
        padding-bottom:0px;
    }
}