@import '../../../stylesheets/bootstrap/bootstrap/variables';

.productOrderList{
.order-details-products .panel-default {
    border: 0px none;
    border-bottom: 1px solid;
    border-color: $gray-lighter;
}

.order-image{
    height:5em;
}

// Product ordering tabs

/*.nav-pills > li.vegetables_bk > a {
    padding: 10px 4px;
}
.nav-pills > li.groceries_bk > a {
    padding: 10px 10px;
}*/

.nav-pills > li > a {
    border-bottom:3px solid transparent;
    margin-bottom:5px;
}

.nav > li.vegetables_bk > a, .nav > li.groceries_bk > a, .nav > li.prepared_bk > a, .nav > li.pg_bk > a {
    padding: 0px;
    background-image: url('/app/order-tabs.png');
    background-size: 4.5em;
    background-repeat: no-repeat;
    padding-top: 3.5em;
}

.nav > li.vegetables_bk, .nav > li.groceries_bk, .nav > li.prepared_bk, .nav > li.pg_bk {
    width:6.5em;
}

.nav > li.vegetables_bk > a {
    background-position: 17px -5px;
}

.nav > li.groceries_bk > a {
    background-position: 17px -87px;
}

.nav > li.prepared_bk > a {
    background-position: 17px -173px;
}

.nav > li.pg_bk > a {
    background-position: 17px -273px;
}

#productTabs > div.tab-content {
    padding-top:1.5em;
}

    /*.panel-heading{
        background-image: url('/app/order-tabs.png');
        background-size: 4.5em;
        background-repeat: no-repeat;
        padding-top: 2.5em;
    }

    .panel-heading .panel-title{
        position: relative;
        top: -0.8em;
        left: 3.9em;
        max-width:170px;
    }*/

    /* phone */
    .panel-body{
        padding-left: 5px;
        padding-right: 5px;
    }
    .prodCatTitle{
        padding:0px 0px;
        padding-left:0.5em;
    }
    .prodCatPlus{
        padding-left:0px;
    }

    .productCatHead div{
        background-size: 3.6em;
        background-repeat: no-repeat;
        height: 45px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .productCat_vegetables_bk_ph{
        background-image: url('/app/order-tabs.png');
        background-position:2px -10px;
    }

    .productCat_groceries_bk_ph{
        background-image: url('/app/order-tabs.png');
        background-position:2px -70px;
    }

    .productCat_prepared_bk_ph{
        background-image: url('/app/order-tabs.png');
        background-position:2px -139px;
    }

    .productCat_pg_bk_ph{
        background-image: url('/app/order-tabs.png');
        background-position:2px -220px;
    }
}