@import url('https://fonts.googleapis.com/css?family=Buenard');
@import '../../../stylesheets/bootstrap/bootstrap/variables';


.Vision {
    font-size:  $font-size-large;
    margin-top: 4em;
    font-family: 'Buenard';

    h1, h2, h3{
        text-transform:uppercase;
        letter-spacing: 1.4px;
        line-height: $headings-line-height;
    }

    .img-responsive {
        margin: 0 auto;
    }

    @media (min-width: 768px){
    .panel-body {
        padding: 0 1.5em 1.5em 1.5em;
        }
     h1, h2, h3{
        margin:4em 0 3rem 0;
     }
    }

     @media (min-width: 992px){
    .panel-body {
            padding: 0 3em 3em 3em;
        }
    }
    
    @media (min-width: 1200px) {
    .panel-body {
            padding: 0 5em 5em 5em;
        }
    }

    .mission-bar{
        font-family: 'Nunito';
        margin:4em 0 0 0;
        text-transform:uppercase;
        font-size: $font-size-h5;
        letter-spacing:1.1px;
    }

    .mission-text{
        min-height: 8em;
    }
}