@import '../../stylesheets/bootstrap/variables';

.EditOrderDetails  {

    .product-item {
        // padding: 1em 1em;
    }

    .fix-product-height {
       min-height: 12rem;
    }

    .col-sm-3{
       max-width: 15em;
     }
     
    .product-name{
        margin-bottom:0px;
        padding-bottom:5px;
    }

    .product-name-subtext{
        margin-top:3px;
    }

    .no-aliasing-image {
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }

    .item-image{
        margin: 0px auto;
        vertical-align: middle;
        max-height: 6em;
        border-radius: 1em;
    }

    .sliderProduct {
        max-width: 100% !important;
        .product-item{
            padding: 0em 0em;
        }
        .product-name {
            padding: 0.25em 0 0;
        }
    }
    .carousel-cell{
        .col-sm-3, .col-6 {
            width:100%;
        }
    }

    @media (max-width: breakpoint-min('sm')) {
        .sliderProduct {
            .product-item{
                border-bottom: 0px solid transparent;
                padding: 1em 2.7em 0em;
                .addCartButton{
                    padding: 0.25em 0.25em;
                }
            }
        }

    }
}