@import '../../stylesheets/bootstrap/bootstrap/variables';

.RecipesHome {
    h4{
        color:$gray-base;
    }    

    .rowCategory {
        height:10em;
    }

    .catName{
        padding:27% 0;
    }

    @media (max-width: $screen-xs-max) {
        .catName{
            padding:0.5em 0;
        }
    }
}