@import '../../stylesheets/bootstrap/variables';

.RecipesHome {
    h4{
        color:$gray-500;
    }    

    .rowCategory img {
        height:15em;
    }

    @media (max-width: breakpoint-min('sm')) {
        .catName{
            padding:0.5em 0;
        }
    }
}