
* { box-sizing: border-box; }

.flickity-viewport{
  height: 27em;
}
.carousel {
  background: #fff;
}

.carousel img {
  display: block;
  width: 27em;
  margin: 1em 3em 1em 3em;
}

.flickity-page-dots{
  bottom:0.2em;
}

