.RecipesList {
    .imageCol{
        padding-right:0px;
    }

    small {
        letter-spacing: 0.95px;
        font-size: 74%;
    }

    h3{
        font-size: 1.4em;
        margin-top: 0.6em;
    }

    .btn{
        margin-top:1em;
    }
}