@import '../../stylesheets/bootstrap/variables';


.navbar {
  .container-fluid {
    padding-bottom: 0px;
  }
}
.shoppingCartBubble {
  background: #EF0905;
  border-radius: 50%;
  font-size: 11px;
  position: absolute;
  color: rgb(255, 255, 255);
  text-align: center;
  display: inline-block;
  min-width: 2em;
  line-height: 1.9em;
  margin-left: 17px;
  margin-top: -5px;
}

.toolBar{
    left: 0;
    right:0;
    bottom: 0;
    z-index: 1000;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $white;
    height:3rem;

  .btn:hover, .btn:focus, .btn.focus {
    color: $gray-500;
  }


  .box1{
      background-color: rgb(235, 210, 195);
  }
  
  .box2{
    background-color: rgb(212, 220, 181);
  }

  .box3{
    background-color: #f3d4de; //#F4CEA0;
  }

  .box4{
    background-color: #dac5bc;
  }

  .box5{
    background-color: rgb(236, 226, 190);
  }

  .alertBubble {
    background: #ef0905;
    color: #ef0905;
    border-radius: 50%;
    font-size: 8px;
    position: absolute;
    top: 7px;
    min-width: 1em;
    text-align: center;
    display: inline-block;
    height: 1em;
    margin-left: 22px;
  }
}
